body {
  font-family: "Fredoka One", cursive;

  background-image: url("../background/5183000.jpg");
}

ul {
  margin: 2px 0;
  padding: 0;
}
li {
  list-style: none;
  color: #0000ff;
  font-size: 19px;
  font-weight: 100;
  line-height: 23px;
}
li::first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}

.search-form {
  max-width: 700px;
  border: 1px solid #87ceeb;
  border-radius: 10px;
  border-style: outset;
  display: block;
  margin: 70px auto 20px;
  padding: 20px;
  background-color: #d9ecee;
}

.weather-app {
  max-width: 700px;
  border: 1px solid #87ceeb;
  border-radius: 10px;
  border-style: outset;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #d9ecee;
}
.weather-parameters {
  color: #000080;
  margin-bottom: 0;
  margin-top: 20px;
}
.weather-parameters strong {
  font-size: 60px;
  font-weight: 400;
  line-height: 1;
}
.weather-parameters .units {
  position: relative;
  top: -36px;
}
.weather-parameters .active {
  color: #000080;
  cursor: default;
  text-decoration: none;
}
.weather-parameters .active:hover {
  cursor: default;
}

.footer {
  display: block;
  text-align: center;
  color: #000080;
  margin-bottom: 0;
  padding-bottom: 0;
}
.weather-forecast {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 15px;
  width: 700px;
  font-weight: bold;
  text-align: center;
}
.weather-forecast-date {
  color: #000080;
  font-size: 25px;
}
.weather-forecast-temperatures {
  color: #0000ff;
  font-size: 17px;
}
#search-button {
  font-size: 15px;
  font-weight: bold;
}
#city-time-description {
  text-align: center;
  margin-top: 20px;
}
#city-time-description #city {
  color: #000080;
  font-size: 41px;
  font-weight: bolder;
  line-height: 1;
}
#weather-icon img {
  width: 150px;
}
#weather-forecast-columns {
  width: fit-content;
  border: 1px solid #87ceeb;
  border-radius: 10px;
  border-style: outset;
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #d9ecee;
}
